body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #cccf79; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
  padding: 100px;
  margin-bottom: 0px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #808080;
  width: 680px;
  height: 290px;
}

.container .jumbotron {
  border-radius: 0px;
  background-image: url(../images/header.jpg);
}

@media (min-width: 680px) {
    .navbar {
        border-radius: 0px;
        width: 680px;
    }
}
    .col-md-2,

@media (min-width: 680px) {
    .container {
        max-width: 680px;

    }

    .col-md-1,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: left;
    }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  vertical-align: top;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: maroon;